---
import Layout from '../layouts/Layout.astro'
import NavBar from "../components/NavBar.astro"
import "../styles/global.css"
---

<Layout>
  <header class="absolute top-0 left-0 w-full z-10">
    <NavBar title="portfolio"/>
  </header>
  
  <main class="w-full h-screen flex justify-center items-center">
    
    <div>
      <p>Ahora estoy en el centro absoluto de la pantalla.</p>
    </div>

  </main>
</Layout>
