---
import Layout from '../layouts/Layout.astro';
import Name from "../components/Name.astro";
import Frontend from "../components/frontend.astro";
import Backend from '../components/Backend.astro';
import Projects from '../components/Projects.astro';
import Prueba from '../components/Prueba.jsx';
---

<Layout>
<main>
	<Name/>
	<Frontend/>
	<Backend/>
	<Prueba/>
</main>
</Layout>