---
import Layout from '../layouts/Layout.astro'
import NavBar from "../components/NavBar.astro"
import "../styles/global.css"
import MainButtonZone from "../components/MainButtonZone.tsx"
---

<Layout>
  <header class="absolute top-0 left-0 w-full z-10">
    <NavBar title="portfolio"/>
  </header>
  
  <main class="w-full h-screen flex justify-center items-center">

    
    <MainButtonZone client:load />
    <div>
      <p>Shit i hate.</p>
    </div>

  </main>
</Layout>
