<div class="w-full h-screen" id="frontend">
  <div class="w-full h-screen flex flex-row justify-center space-x-[2vw]">
    <div class="h-[100vh] flex items-center select-none">
        <img src="/public/vscode.svg" class="w-[50vw] h-[50vw]" />
    </div>
    <div class="h-[100vh] ">
      <p class="w-[35vw] text-[1.5vw] font-bold text-white mt-[25vh] ">
        I'm a frontend developer with a passion for creating <span class="bg-main pr-2 pl-2 hover:opacity-50 cursor-pointer">responsive</span> and
        user-friendly web interfaces and a basic understanding of <span class="bg-main pr-2 pl-2 hover:opacity-50 cursor-pointer"> UI/UX </span>
        design. <br> I love transforming ideas into interactive web experiences.a
      </p>
    </div>
  </div>
</div>
