<div class="w-full h-screen" id="frontend">
  <div class="w-full h-screen flex flex-row justify-center space-x-[2vw]">
    <div class="h-[100vh]">
      <p class="w-[35vw] text-[1.5vw] font-bold text-white mt-[25vh]">
        As a frontend developer, I specialize in making responsive,
        user-friendly interfaces with a keen eye for detail and a foundational <span class="bg-main pr-2 pl-2 hover:opacity-50 cursor-pointer">UI/UX</span> design. Turning concepts into their best possible representation making it <span class="bg-main pr-2 pl-2 hover:opacity-50 cursor-pointer">responsive</span> and interactive web
        experiences
      </p>
    </div>

    <div class="flex items-center select-none">
      <img src="/public/figma.svg" class="w-[50vw] h-[50vw]" />
    </div>
  </div>
</div>
