---
import Scroll from "./scroll.astro";
---

<div class="m-0 p-0 w-full h-screen text-white aling-center ">
  <div class="m-0 p-0 w-full h-screen text-white align-center flex items-center justify-center">
    <h1 class="text-[5.58vw] font-bold font-Helvetica absolute mt-[-15.5vw]">SERGIO RODRÍGUEZ</h1>
    <div class="w-[53%] bg-main h-[12vw] absolute opacity-25 rounded-t-[3vh] mt-[-3vw]"></div>
  </div>
    <div class="absolute bottom-12 w-full flex justify-center">
  <Scroll/>
    </div>

</div>

