<nav class="m-0 p-0 w-full h-[6vh] text-white z-50 fixed">
  <div class="absolute inset-0 bg-center backdrop-blur-sm rounded-b-3xl" >
  </div>
  <!-- Contenido de primer plano -->
  <div class="relative z-10">
    <nav class="flex h-16 items-center bg-transparent">
      <div class="p-[2%] ml-10">
        <img src="/public/account-svgrepo-com.svg" class="h-14"/>
      </div>
      <div class="flex space-x-5">
        <a href="/" class=" font-bold">Projects</a>
        <a href="/" class=" font-bold">About</a>
        <a href="/" class=" font-bold">Content</a>
      </div>
    </nav>
  </div>
<nav/>
