---
import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";
import "../../styles/global.css";
import BottomBar from "../../components/BottomBar.astro";
import { Separator } from "../../components/ui/separator.tsx";
---

<Layout>
  <div class="h-screen w-full flex flex-col overflow-hidden">
    <header class="w-full z-10 bg-inherit flex-shrink-0">
      <NavBar title="portfolio/projects/CCApp" button="projects" />
    </header>

    <main
      class="flex-1 w-full flex flex-col items-center px-4 md:px-0 overflow-y-auto"
    >
      <div class="pt-10 w-full md:w-2/5">
        <div class="font-mono">
          <p class="font-[900]"># CCApp.</p>
          <Separator />
          <p class="mt-2 mb-2">under construction.</p>
          <Separator />
        </div>
      </div>
    </main>

    <footer
      class="w-full z-10 bg-inherit py-10 flex justify-center flex-shrink-0"
    >
      <BottomBar />
    </footer>
  </div>
</Layout>
