---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sergio Rodríguez</title>
  </head>
  <body class="flex h-auto bg-bgMain">
        <Navbar />
      <div class="w-full h-auto">
        <slot />
	    </div>
  </body>
</html>
